@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

@keyframes enterFromRight {
  0% {
    transform: translateX(120%) rotate(15deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(-6deg);
    opacity: 1;
  }
}

.animate-enter-phone {
  animation: enterFromRight 1.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
